body {
  width: 300px;
  background-color: darkgrey;
  margin-left: auto;
  margin-right: auto;
}

.general{
  background-color:darkslategray;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  -webkit-box-shadow: 0px 0px 8px 12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 12px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 12px rgba(0,0,0,0.75);
}

.inputField {
  background-color: rgb(122, 165, 161);
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 4%;
}

.inputField input{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.statsData {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 240px;
  background-color: rgb(122, 165, 161);
}

p {
    color: 	rgb(0,0,0);
    text-align: center;
    margin-bottom: 2%;
  }

#container{
  background-color: beige;
  width: 300px;
  height: auto;
  margin-left: auto;
}

#container input{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.statsData input{

  color: rgb(34, 34, 26);
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.buttons{
  display: flex;
  justify-content: center;
  background-color: rgb(235, 228, 228);
  width: 300px;
  margin-top: 8%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 180px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 2px solid dimgray;
}

button:hover {
  background: #4F95DA;
}
  