body {
  background-color: aquamarine;
}

#enterCityContainer{
  background-color: bisque;
  display: flex;
  justify-content: center;
  margin: 5%;
}

#noteContainer{
  background-color: lightsalmon;
  padding: 1%;;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;

}

#citiesContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainDiv{
  margin: 2%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.88);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.88);
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.88);
  background-color: lightgray;
}

.cityDiv{
  justify-content: center;
}