body {
  background:#666;
  color:#fff;
  font-family: 'Lato';
  margin-bottom: 3%;;
}

#enterNoteContainer{
  display: flex;
  justify-content: center;
  margin: 2%;
  margin-bottom: 0;
}

#noteContainer{
  background-color: lightyellow;
  color: black;
  padding: 1%;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  

  #colorAndButtonDiv{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
    input{
      height: 40px;
      width: 40px;
    }
  }
  input{
    
    border: none;
    background-color: transparent;
    font-size:  1.2rem;
    line-height: 1.9;
    outline: transparent;
  }
}

#notesContainer{
  display: flex;
  flex-direction: column;
}

#notesContainerPinned{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-style: inset;
  border-color: lightgreen;
}

#notesContainerUnPinned{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-style: outset;
  border-color: lightcoral;
}

#textInfo{
  margin: 1%;
  margin-left: 2%;
  font-size:x-large;
  font-weight: bold;
  color: #000;
}

.mainNoteDiv{
  margin: 2%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.88);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.88);
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.88);

  text-decoration:none;
  color:#000;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}

.noteDiv{
  justify-content: center;
  display: flex;
}

.noteTitleDiv{
  font-weight: bold;
  font-size: 2rem;
}

.textDiv{
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 2%;;
}

.deleteDiv{
  position: static;
  font-weight: 600;
  left: 20px;
}