body {
  background:#666;
  color:#fff;
  font-family: 'Lato';
}

#enterNoteContainer{
  display: flex;
  justify-content: center;
  margin: 2%;
}

#noteContainer{
  background-color: lightsalmon;
  color: black;
  padding: 1%;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;

  #colorAndButtonDiv{
    
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    input{
      height: 40px;
      width: 80px;
    }
  }
  input{
    
    border: none;
    background-color: transparent;
    font-size:  1.2rem;
    line-height: 1.9;
    outline: transparent;
  }
}

#notesContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainNoteDiv{
  margin: 2%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.88);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.88);
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.88);

  text-decoration:none;
  color:#000;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
}

.noteDiv{
  justify-content: center;
}

.noteTitleDiv{
  font-weight: bold;
  font-size: 2rem;
}

.textDiv{
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 2%;;
}

.deleteDiv{
  position: relative;
  font-weight: 600;
}